:root {
  --square-r: 8rem;
  --square-c: 8rem;
}
.game-container {
  display: grid;
  /* gap: 0.33rem; */
  grid-template-columns: repeat(3, var(--square-c));
  grid-template-rows: repeat(3, var(--square-r));
}
.board-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: xxx-large; */
  background: #aaa;
  outline: 1px solid black;
  /* border-radius: 0.33rem; */
}
.row-3,
.row-2,
.row-1 {
}
.col-a,
.col-b,
.col-c {
}
.board-boxes:hover {
  opacity: 0.5;
}
